h1 {
  color: rgb(3, 61, 128);
  text-align: center;
}
h2 {
  color: rgb(3, 61, 128);
}
body {
  color: rgb(105, 11, 66);
  background: url("C:\\Users\\Hp\\Downloads\\sa1.jpg");
  font-family: Helvetica, Times, sans-serif;
  box-sizing: border-box;
}
.imglink {
  text-align: center;
}
.gtrname {
  font-style: italic;
  font-weight: bold;
}
.footer {
  margin-top: 60px;
  text-align: center;
  clear: both;
  color: rgb(105, 11, 66);
}
#col1 {
  width: 35%;
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
#col2 {
  width: 35%;
  float: left;
  margin-left: 20px;
  margin-right: 10px;
}
#footlink {
  text-decoration: none;
}
article > div > a:link,
a:visited {
  text-decoration: none;
  background-color: beige;
  color: black;
  width: 400px;
  margin-bottom: 10px;
}
article > div > a:hover {
  background-color: purple;
  color: white;
}
article > div > a:active {
  background-color: pink;
  color: white;
}
