h1{
    color:rgb(3, 61, 128);
    text-align: center;
}
h2{
    color:rgb(3, 61, 128);
    
}
body{
    color: rgb(105, 11, 66);
    background-image:url("C:\\Users\\Hp\\Downloads\\sa1.jpg");
}
.imglink{
   text-align: center; 
}