h1{
    color:rgb(3, 61, 128);
    text-align: center;
}
h2{
    color:rgb(3, 61, 128);
    
}
body{
    color: rgb(105, 11, 66);
    background-image:url("C:\\Users\\Hp\\Downloads\\sa1.jpg");
}
.imglink{
   text-align: center; 
}

article>div>a:link,a:visited{
    text-decoration: none;
    background-color: beige;
    color: black;
    width:400px;
    margin-bottom: 10px;
}
article>div>a:hover{
    background-color: purple;
    color: white;
}
article>div>a:active{
    background-color: pink;
    color: white;
}